db/org.tinygroup.metadata/src/main/resources/const.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="service-components">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="constant" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="standard-type-name" type="xs:string" />
						<xs:attribute name="value" type="xs:string" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="package-name" type="xs:string" />
		</xs:complexType>
	</xs:element>
</xs:schema>