db/org.tinygroup.metadata/src/main/resources/error.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="error-messages">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="error-message" type="errorMessageType"
					minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
			<xs:attribute name="package-name" type="xs:string" />
		</xs:complexType>
	</xs:element>

	<xs:complexType name="errorMessageType">
		<xs:attribute name="error-id" type="xs:string" />
		<xs:attribute name="error-message-i18n-key" type="xs:string" />
		<xs:attribute name="resolution-i18n-key" type="xs:string" />
	</xs:complexType>

</xs:schema>