framework/org.tinygroup.service/src/main/resources/serviceviewmappings.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="service-view-mappings">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="service-view-mapping" minOccurs="0"
					maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="service-id" type="xs:string" />
						<xs:attribute name="path" type="xs:string" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>